* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
div {
    /* border: 1px solid red; */
}
.joinLayout {
    display: flex;
    height: 100vh;
}
.joinImg {
    flex: 1;
    position: relative;
}
.joinImg img {
    position: absolute;
    top: 27%;
    left: 10%;
    width: 43rem;
}
.joinBox {
    flex: 0.8;
    position: relative;
}

.joinBox input {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.joinBox button {
    width: 50%;
    height: 46px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #6e64fb;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.joinBox button:hover {
    background: rgb(110, 100, 251);
    background: radial-gradient(
            circle,
            rgba(110, 100, 251, 1) 0%,
            rgba(215, 78, 249, 1) 100%
    );
}
.joinForm {
    position: absolute;
    width: 100%;
    top: 15%;
    right: 7%;
    text-align: center;
}
.joinForm h1 {
    margin-bottom: 30px;
}