server:
  servlet:
    context-path: /meett

spring:
#  thymeleaf:
#    prefix: classpath:/templates/
#    suffix: .html
#    cache: false

  mvc:
    static-path-pattern: /static/**
  web:
    resources:
      static-locations: classpath:static/
      add-mappings: true

  jpa:
    database-platform: "org.hibernate.dialect.MySQL8Dialect"
    database: mysql

    hibernate:
      ddl-auto: update

      jdbc.batch_size: 100
      order_insert: true
      order_update: true

    properties:
      hibernate:
        format_sql: true


  datasource:
    driver-class-name: "com.mysql.cj.jdbc.Driver"
    url: "jdbc:mysql://localhost:3306/MeettDB"
    username: "meett"
    password: "meett12345"

logging:
  level:
    root: info
    com.team.meett: debug