<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<section class="content" layout:fragment="content">
    <div class="roomLayout">
    <p>Room List</p>
        <div class="roomList">
            <div class="roomBox" th:each="room : ${ROOMS}">
                <p th:text="${room.title}"></p>
                <p th:text="${room.username}"></p>
            </div>
        </div>
    </div>
</section>

</html>