<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thyneleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">
    <title>MEETT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<th:block th:replace="fragment/headerAndNav :: headerFragment"/>
<th:block th:replace="fragment/headerAndNav :: sideBarFragment"/>

<th:block layout:fragment="content"/>
</body>
</html>