<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport">
    <title>MEETT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/static/css/layout.css}" rel="stylesheet" type="text/css" media="screen">
</head>
<style>
    body {
        background: url([[@{/static/img/blob.svg}]]) no-repeat fixed;
        background-size: cover;
        position: sticky;
    }
</style>
<body>
<div class="mainFloat">
    <th:block th:replace="fragment/headerAndNav :: sideBarFragment"/>
    <div class="headAndContent">
        <th:block th:replace="~{fragment/headerAndNav :: headerFragment}"/>
        <th:block layout:fragment="content"/>
    </div>
</div>
</body>
</html>