<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<style>

</style>
<section class="content" layout:fragment="content">
    <h1>userschedule</h1>
    <div><input type="date"/>
        <button>버튼</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>날짜</th>
            <th>상세내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="li : ${usList}">
            <td th:text="${li.title}"></td>
            <td th:text="${li.start}"></td>
            <td th:text="${li.detail}"></td>
        </tr>
        <tr th:each="li : ${usDateList}">
            <td th:text="${li.title}"></td>
            <td th:text="${li.start}"></td>
            <td th:text="${li.detail}"></td>
        </tr>
        <tr th:each="li : ${usRoleList}">
            <td th:text="${li.title}"></td>
            <td th:text="${li.start}"></td>
            <td th:text="${li.detail}"></td>
        </tr>
        </tbody>
    </table>
</section>

</html>